# Revisit List

### Various ways to create list

In [1]:
list1 = []
print(list1)
print(type(list1))

[]
<class 'list'>

In [2]:
list2 = list(range(0,10,2))
print(list2)
print(type(list2))

[0, 2, 4, 6, 8]
<class 'list'>

In [3]:
str1 = "Learning Python is Fun"
l = str1.split()
print(l)
print(type(l))

['Learning', 'Python', 'is', 'Fun']
<class 'list'>

In [7]:
list3 = []
print(list3, len(list3))

list3.append(1)
list3.append(20.5)
list3.append("Hello")
list3.append(True)
print(list3, type(list3))

[] 0
[1, 20.5, 'Hello', True] <class 'list'>

In [18]:
l4 = []
for i in range(1,1000):
    if i % 100 == 0:
        l4.append(i)
print(l4)

[100, 200, 300, 400, 500, 600, 700, 800, 900]

### Slicing in list

In [8]:
print(list3[2:4])

['Hello', True]

In [11]:
print(list3[1:4:2])

[20.5, True]

### Reverse list

In [12]:
print(list3[::-1])

[True, 'Hello', 20.5, 1]

### Concatenation of list

In [17]:
l4 = list(range(10,70,5))
str1 = "Learning python is fun always"
l5 = str1.split()
l6 = l4 + l5
print(l6)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 'Learning', 'python', 'is', 'fun', 'always']

### Copying a List

#### Reference

In [24]:
l5 = [5, 6, 7]
l6 = l5 #<--- Dono same jagah pe point krta h aur ek jagah change krne pe dono change hoga
print(l5)
print(l6)
print(l5 is l6)

[5, 6, 7]
[5, 6, 7]
True

In [ ]:
l5.append(232)
print(l5)
print(l6)

[5, 6, 7, 232]
[5, 6, 7, 232]

#### Shallow Copy

In [23]:
l7 = [5,6,10]
l8 = l7.copy() #<-- ek jagah change krne se dusre ko fark nhi padta kyunki dono alag alag jagah point kr rha h
print(l7)
print(l8)
print(l7 is l8)

[5, 6, 10]
[5, 6, 10]
False

In [22]:
l7.append(123)
print(l7)
print(l8)

[5, 6, 10, 123]
[5, 6, 10]

In [27]:
l9 = [8,9,0]
l10 = [8,9,0]
print(l9 is l10)
l9.insert(3,100)
print(l9)

False
[8, 9, 0, 100]

### List Functions

In [29]:
l = [1,4,0,99,27,"Hello","World","Aditya"]
sorted_l = sorted(l,key=str)
print(sorted_l)

[0, 1, 27, 4, 99, 'Aditya', 'Hello', 'World']

In [39]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f', 'a', 'a']

# Length
print(len(list1))

# Count occurrences
print(list1.count('a'))
print(list1.count('b'))

# Append
list1.append('Hello')
print(list1)

# Insert at index
list1.insert(1, 8888)
print(list1)

# Remove first occurrence
list1.remove('a')
print(list1)

8
3
1
['a', 'b', 'c', 'd', 'e', 'f', 'a', 'a', 'Hello']
['a', 8888, 'b', 'c', 'd', 'e', 'f', 'a', 'a', 'Hello']
[8888, 'b', 'c', 'd', 'e', 'f', 'a', 'a', 'Hello']

## List Comprehension (Compact syntax for creating a list)

In [33]:
s = [x * x for x in range(1,11)]
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### list = [expression for item in list if condition]

In [34]:
s2 = [x for x in s if x % 2 == 0]
print(s2)

[4, 16, 36, 64, 100]

#### Working with words

In [ ]:

words = ['Identifiers', 'Keywords', 'Datatypes', 'Operators']
c = [w[0] for w in words]
print(c)

['I', 'K', 'D', 'O']

In [36]:
str2 = "the quick brown fox jumps over the lazy dog"
words = str2.split()
a = [(w.upper(),len(w)) for w in words]
print(a)

[('THE', 3), ('QUICK', 5), ('BROWN', 5), ('FOX', 3), ('JUMPS', 5), ('OVER', 4), ('THE', 3), ('LAZY', 4), ('DOG', 3)]

In [38]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = ['a', 'b', 'c']
list3 = [e for e in list1 if e not in list2]
print(list3)

['d', 'e', 'f']

### Packing and unpacking

In [55]:
a,b = [1,2]
print(a,b)

1 2

In [57]:
[a,b,e,r] = [1,4,5,6] 
print(a,b,e,r)

1 4 5 6

# Revisiting Tuples

In [41]:
t1 = 1,2,3,4,5
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

## Single element Tuples

In [46]:
t2 = (10)
print(type(t2))

t3 = (10,)
print(type(t3))
print(t3)

<class 'int'>
<class 'tuple'>
(10,)

## Converting list to tuples

In [44]:
l = [10,9,24,2,23]
t4 = tuple(l)
print(t4)
print(type(t4))

(10, 9, 24, 2, 23)
<class 'tuple'>

## Tuple Operations

In [45]:
t5 = t3 + t4
print(t5)
print(type(t5))

(10, 10, 9, 24, 2, 23)
<class 'tuple'>

In [47]:
t6 = t5*9
print(t6)

(10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23, 10, 10, 9, 24, 2, 23)

In [49]:
print('Length of t6', len(t6))
print(t6.count(10))  # number of occurrences
print(t6.index(10))  # first occurrence

print(sorted(t6))  # sort elements
print(sorted(t6, reverse=True))  # reverse order

print(min(t6))
print(max(t6))

Length of t6 54
18
0
[2, 2, 2, 2, 2, 2, 2, 2, 2, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24]
[24, 24, 24, 24, 24, 24, 24, 24, 24, 23, 23, 23, 23, 23, 23, 23, 23, 23, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 9, 9, 9, 9, 9, 9, 9, 9, 9, 2, 2, 2, 2, 2, 2, 2, 2, 2]
2
24

## Tuple Packing and Unpacking

In [ ]:
a = 10; b = 20; c = 30; d = 40
t8 = a,b,c,d, #<-- packing
print(t8)
print(type(t8))

(10, 20, 30, 40)
<class 'tuple'>

In [ ]:
x,y,z,p = t8 #<--- Unpacking
print(x,y,z,p)

10 20 30 40

In [54]:
st = "Adi"
a,b,c = st
print(a,b,c)

A d i

In [58]:
a,*b = [10,23,5,12,65,90]
print(a)
print(b)
print(type(b))

10
[23, 5, 12, 65, 90]
<class 'list'>

In [59]:
a,*b = (20,23,5,12,65,90)
print(a)
print(b)
print(type(b))

20
[23, 5, 12, 65, 90]
<class 'list'>

In [60]:
*a,b = (20,23,5,12,65,90)
print(a)
print(b)
print(type(b))

[20, 23, 5, 12, 65]
90
<class 'int'>

# Revisiting Dictionary

In [62]:
d1 = {}
print(d1)
print(type(d1))

{}
<class 'dict'>

### Adding and updating

In [63]:
d2 = dict()
d2['Stock'] = 8
d2['Savings'] = 5
print(d2)

{'Stock': 8, 'Savings': 5}

In [73]:
d2['Stock'] = 9
print(d2)

{'Stock': 9, 'Savings': 5}

### Shallow Copy

In [65]:
d3 = d2.copy()
print(d3)
print(type(d3))

{'Stock': 8, 'Savings': 5}
<class 'dict'>

### deep copy

In [70]:
d4 = d3
print(d4 is d3)

True

### Deleting

In [71]:
del d4

### Clearing

In [72]:
d3.clear()
print(d3)

{}

### Keys and Values

In [76]:
print(d2)
print(d2.keys())
print(d2.values())

{'Stock': 9, 'Savings': 5}
dict_keys(['Stock', 'Savings'])
dict_values([9, 5])

In [80]:
for k, v in d2.items():
    print(k, "-", v)

Stock - 9
Savings - 5

# Revisiting Sets

### Creating a set

In [81]:
s = {}
print(s)
print(type(s))

{}
<class 'dict'>

In [82]:
se2 = set()
print(type(se2))

<class 'set'>

In [83]:
se3 = set(range(1,10))
print(se3)
print(type(se3))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

### Add a element

In [84]:
se3.add(99)
print(se3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

### Update

In [85]:
l1 = ['a', 'b']
l2 = ['x', 'y']
se3.update(l1,l2)
print(se3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 'b', 'a', 'y', 'x'}

### Shallow copy

In [86]:
se4 = se3.copy()
print(se4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 'b', 'a', 'y', 'x'}

### remove pop clear

In [87]:
se4.remove(99)
print(se4)
print(se3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'b', 'a', 'y', 'x'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 99, 'b', 'a', 'y', 'x'}

In [ ]:
se4.pop() #<--- Remove a random element from set
print(se4)

{3, 4, 5, 6, 7, 8, 9, 'b', 'a', 'y', 'x'}

In [ ]:
se4.clear() #<--- Removes all element from set
print(se4)

set()